@* En haut de votre fichier Views/Dashboard/Dashboard.cshtml *@
@model AdminMnsV1.ViewModels.DashboardViewModel
@using AdminMnsV1.Models @* Utile si CardModel est défini dans Models *@

@{
	ViewData["Title"] = "Tableau de Bord Candidat"; // Utilisez le ViewData défini dans le contrôleur
}

<h1>CANDIDAT</h1>