@{
	ViewData["Title"] = "Formulaire";

}


<h1 class="m-5">Ajout d'un nouveau stagiaire</h1>
<a href="@Url.Action("Student","Students")"class="mx-5">⬅ Retour a la page stagiaire</a>



<!-- =====================FORMULAIRE STUDENT=============================== -->
<div class="container containerStudentDetails ">
	<div class="enteteForm"></div>
	<div class="photoProfilInput text-center m-3">
		<h6>Photo *</h6>
		<input type="file" id="photoProfil" name="photoProfil">
	</div>
	<div class="formulaireStudent">
		<div class="row mx-auto">
			<div class="photoProfil ">
				<div class="photoEmpty">
					<h6>Photo *</h6>
					<a href="#">
						<div class="cadre p-3"><input type="image">...</div>
					</a>
				</div>
			</div>
		</div>

		<form method="post" action="#">
			<div class="row">
				<div class="col-md-6">
					<div class="mb-3 ">
						<label for="name" class="form-label">Nom</label>
						<input type="text" class="form-control" id="name" aria-describedby="name">
					</div>
				</div>
				<div class="col-md-6">
					<div class="mb-3">
						<label for="firstName" class="form-label">Prénom</label>
						<input type="text" class="form-control" id="firstName" aria-describedby="firstName">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3">
					<div class="mb-3 ">
						<label for="Date de naissance" class="form-label">Date de naissance</label>
						<input type="date" class="form-control" id="Date de naissance"
							   aria-describedby="Date de naissance">
					</div>
				</div>
				<div class="col-md-3">
					<div class="mb-3">
						<label for="Lieu de naissance" class="form-label">Lieu de naissance</label>
						<input type="text" class="form-control" id="Lieu de naissance"
							   aria-describedby="Lieu de naissance">
					</div>
				</div>
				<div class="col-md-6">
					<div class="mb-3">
						<label for="Nationalité" class="form-label">Nationalité</label>
						<input type="text" class="form-control" id="Nationalité"
							   aria-describedby="Nationalité">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="mb-3">
						<label for="Role" class="form-label">Role</label>
						<select name="Role" id="Role" class="form-select ">
							<option value="">Choisir un role</option>
							<option value="Informatique">Candidat</option>
							<option value="Mathématiques">Stagiaire</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="mb-3">
						<label for="Classe" class="form-label">Classe</label>
						<select name="Classe" id="Classe" class="form-select ">
							<option value="">Choisir une classe</option>
							<option value="Informatique">CDA</option>
							<option value="Mathématiques">C#</option>
							<option value="Mathématiques">Java</option>
							<option value="Mathématiques">FullStack</option>
							<option value="Mathématiques">DevWeb</option>
							<option value="Mathématiques">Réseau</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="mb-3">
						<label for="mail" class="form-label">Email</label>
						<input type="email" class="form-control" id="mail" aria-describedby="emailHelp">
					</div>
				</div>
				<div class="col-md-6">
					<div class="mb-3">
						<label for="Téléphone" class="form-label">Téléphone</label>
						<input type="text" class="form-control" id="Téléphone">
					</div>
				</div>

			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="mb-3">
						<label for="Adresse" class="form-label">Adresse</label>
						<input type="text" class="form-control" id="Adresse" aria-describedby="Adresse">
					</div>
				</div>
				<div class="col-md-6">
					<div class="mb-3">
						<label for="cp" class="form-label">Code Postale</label>
						<input type="text" class="form-control" id="cp">
					</div>
				</div>

				<div class="col-md-6">
					<div class="mb-3">
						<label for="ville" class="form-label">Ville</label>
						<input type="text" class="form-control" id="ville">
					</div>
				</div>
			</div>
			<div class="btnLoadStagiaire">
				<button type="button" class="btn btn-outline-warning">Valider</button>
			</div>
		</form>
	</div>
</div>
	