


<!-- =======================FOOTER================ -->
<hr>
<footer class="footer">
    <div class="linkFooter ">
        <ul>
            <li><a href="">Politique de confidentialité</a></li>
            <li><a href="">Parametre</a></li>
            <li><a href="">Contacter Nous</a></li>

        </ul>
        <p class="text-center">&copy 2025 Metz Numeric School</p>
    </div>

</footer>

@{
}
