/********************** DEBUT PAGE CLASSE ************************/


/*/=================*ONGLET CLASS*==============/*/

.tabsContentOnglet {
	margin-top: 20px;
}

.tabContent {
	display: none;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #fff;
}

	.tabContent h2 {
		margin-top: 0;
		color: #333;
	}



/*.tableauClass {
	width: 100%;
	display: flex;
	flex-direction: column;
}


.table-container {
	display: none;
	flex-grow: 1; 
    width: 100% !important; 
}

.table-custom{
	width: 100% !important;
}

.tableauClass, thead, tbody{
	width: 100% !important;
	margin: 20px;
}*/
/********************** FIN PAGE CLASSE ************************/