.formReset {
    border-radius: 25px;
    padding: 50px;
    background-image:url(../images/bgConnexion.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    box-shadow:2px 3px 6px  gray ;
}


.imhFondPasswordConfirm {
    background-image: url(../images/bgConnexion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100vh;
}