@page
@model ResetPasswordConfirmationModel

@{
	Layout = "_AuthLayout";
	ViewData["Title"] = "Reset Mot de passe confirmation";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<p class="text-center">
	Votre mot de passe a été crée. S'il vous plait' <a class="fw-bold" asp-page="./Home/login">Cliquez ici pour vous connecter</a>.
</p>
<div class="imhFondPasswordConfirm"></div>